{% extends 'base.html' %}

{% block content %}
<p>
  {% if error %}
    <strong>{{error}}</strong>
    <br>
    <br>
  {% endif %}
</p>


<h1>Sign Up!</h1>
<form class="" action="{% url 'signup'%}" method="post">
  {% csrf_token %}

  Username:
  <br>
  <input type="text" name="username" value="" placeholder="User Name">
  <br>
  Password:
  <br>
  <input type="password" name="password1" value="">
  <br>
  Confirm Password:
  <br>

  <input type="password" name="password2" value="">
  <br>
  <br>

  <input class="btn btn-primary" type="submit" name="" value="Sign Up!">
</form>

{% endblock %}
